<div class="w-75 mx-auto py-4">
  <h2 class="my-3">Reset Password :</h2>
  <div class="alert alert-danger" *ngIf="apiError">
    <h4>{{apiError}}</h4>
  </div>

  <form (ngSubmit)="resetPassword(resetForm)" [formGroup]="resetForm">

    <label class="mb-2" for="email">Email :</label>
    <input formControlName="email" type="email" class="form-control mb-3" id="email">
    <div  *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="resetForm.get('email')?.getError('email')">Email invalid</p>
      <p class="m-0" *ngIf="resetForm.get('email')?.getError('required')">Email is Required</p>
    </div>

    <label class="mb-2" for="pass">New Password :</label>
    <input formControlName="newPassword" type="password" class="form-control mb-3" id="pass">
    <div  *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="resetForm.get('newPassword')?.getError('minlength')">newPassword minLength is 5</p>
      <p class="m-0" *ngIf="resetForm.get('newPassword')?.getError('required')">newPassword is Required</p>
    </div>


    <button [disabled]="resetForm.invalid" type="submit" class="btn bg-main text-white d-block ms-auto">
      <span *ngIf="!isLoading" >Confirm Password</span>
      <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
