<div class="bg-main-light mt-5 p-5 parent">
  <div>
    <h3 class="fw-bold">Get the FreshCart app</h3>
    <h6 class="text-muted">
      We will send you a link,open it on your phone to download the app.
    </h6>
  </div>
  <div class="row ms-3">
    <div class="col-md-9 mt-3 ">
      <input type="email" placeholder="Email..." class="form-control">
    </div>
    <div class="col-md-3 mt-3">
      <button class="btn bg-main text-white">Share App Link</button>
    </div>
    <div class="border-bottom col-12 my-3"></div>
    <div class="col-md-4 mt-2 d-flex align-items-center">
      Payment Partners
      <div class="ms-2">
        <img src="./assets/footer/kisspng-amazon-com-philadelphia-montgomery-christian-acade-amazon-com-logo-5a732178437683.6240406915174946482763.png" alt="img footer">
        <img class="ms-2"  src="./assets/footer/kisspng-logo-american-express-membership-rewards-organizat-2017-tigernu-brand-waterproof-15-6inch-laptop-back-5b65d997414970.1920894415334014952674.png" alt="img footer">
        <img class="ms-2"  src="./assets/footer/kisspng-mastercard-credit-card-business-debit-card-logo-mastercard-5b1fe1af636204.3455232915288160474071.png" alt="img footer">
        <img  class="ms-2" src="./assets/footer/kisspng-paypal-business-logo-computer-icons-payment-gateway-5b2485d3b55bb7.2409095815291202117429.png" alt="img footer">
      </div>
    </div>
    <div class="col-md-4 mt-2"></div>
    <div class="col-md-4 mt-2  align-items-center d-flex">
      Get deliveries with FreshCart
      <div class="ms-2 apple d-flex align-items-center">
        <img class="me-2" src="./assets/footer/kisspng-logo-app-store-apple-download-app-store-logos-download-5b65dc26eeece8.7665657215334021509787.png" alt="">
        <img src="./assets/footer/kisspng-business-web-browser-tiger-palace-resort-user-game-googleplay-5b340e89895ae2.0469663615301382495626.png" alt="">
      </div>
    </div>
    <div class="border-bottom col-12 mt-3 mb-5"></div>
  </div>
</div>
