<div class="forgotPassword my-5">
  <form [formGroup]="forgotForm" class="w-75 mx-auto" (ngSubmit)="forgotPassword(forgotForm)">
    <label for="email">Email :</label>
    <input formControlName="email" type="email" id="email" class="form-control"/>
    <p class="p-1 text-success">{{successMessage}}</p>
    <p class="p-1 text-danger">{{errMessage}}</p>
    <button [disabled]="forgotForm.invalid" class="btn bg-main text-white d-block my-3 ms-auto">
      <span *ngIf="!isLoading">Send Code</span>
      <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
<!-- ############################################################ -->
<div class="verifyCode my-5 d-none">
  <form [formGroup]="verifyForm" class="w-75 mx-auto" (ngSubmit)="verifyCode(verifyForm)">
    <label for="resetCode">Reset Code :</label>
    <input formControlName="resetCode" type="email" id="resetCode" class="form-control"/>
    <p class="p-1 text-danger">{{errMessage}}</p>
    <button [disabled]="verifyForm.invalid" class="btn bg-main text-white d-block my-3 ms-auto">
      <span *ngIf="!isLoading">Send Code</span>
      <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
