<div class="row">
  <div class="text-center">
    <h2 class="fw-bold">Shop Popular <span class="text-main">Products</span></h2>
  </div>
  <div class="w-100 my-4">
  <input [(ngModel)]="searchValue" type="text" class="form-control w-75 m-auto">
  </div>
  <div *ngFor="let product of products|search:searchValue" class="col-md-3">
      <div class="product px-2 py-4">
          <a [routerLink]="['/productDetails' , product._id]" >
              <img src={{product.imageCover}} alt="img product" class="w-100">
          <span class="text-main fw-bold font-sm">{{product.category.name}}</span>
          <h3 class="h6 fw-bolder">{{product.title.split(' ').slice(0,2).join(' ')}}</h3>
          <div class="d-flex align-items-center justify-content-between">
              <span class="text-muted fw-bold font-sm">{{product.price|currency:'EGP'}}</span>
              <div>
                  <i class="fas fa-star rating-color"></i>
              <span class="text-muted fw-bold font-sm">{{product.ratingsAverage}}</span>
              </div>
          </div>
          </a>
          <button (click)="addToCart(product._id)" class="btn bg-main text-white w-100 my-3">
            <span *ngIf="!isLoading">+ Add</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
          </button>
          <button (click)="addToWishlist(product._id)" class="btn bg-main text-white w-100 my-3">
            <span *ngIf="!isLoading">+ Wishlist</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
          </button>
      </div>
  </div>
</div>
