<div class="w-75 mx-auto py-4">
  <h2 class="my-3">Register Now :</h2>
  <div class="alert alert-danger" *ngIf="apiError">
    <h4>{{apiError}}</h4>
  </div>

  <form (ngSubmit)="handleRegister(registerForm)" [formGroup]="registerForm">
    <label class="mb-2 mt-5" for="name">Name :</label>
    <input formControlName="name" type="text" class="form-control mb-3" id="name">
    <div  *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')">Name minLength is 3</p>
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')">Name maxLength is 10</p>
      <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')">Name is Required</p>
    </div>

    <label class="mb-2" for="email">Email :</label>
    <input formControlName="email" type="email" class="form-control mb-3" id="email">
    <div  *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">Email invalid</p>
      <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">Email is Required</p>
    </div>

    <label class="mb-2" for="pass">Password :</label>
    <input formControlName="password" type="password" class="form-control mb-3" id="pass">
    <div  *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="registerForm.get('password')?.getError('minlength')">Password minLength is 5</p>
      <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">Password is Required</p>
    </div>

    <label class="mb-2" for="rePass">rePassword :</label>
    <input formControlName="rePassword" type="password" class="form-control mb-3" id="rePass">
    <div  *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('rePasswordMatch')">rePassword not match password</p>
      <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is Required</p>
    </div>

    <label class="mb-2" for="phone">Phone :</label>
    <input formControlName="phone" type="tel" class="form-control mb-3" id="phone">
    <div  *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
      <p class="m-0" *ngIf="registerForm.get('phone')?.getError('pattern')">Enter a valid Egyption Phone Number</p>
      <p class="m-0" *ngIf="registerForm.get('phone')?.getError('required')">Phone is Required</p>
    </div>

    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-info text-white d-block ms-auto">
      <span *ngIf="!isLoading" >Register</span>
      <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
    </button>
  </form>
</div>
